@import '../avricons-functions';

$avricon-workshop: unicode('e9d5');
$avricon-link-item: unicode('e9d3');
$avricon-unlink-item: unicode('e9d4');
$avricon-store: unicode('e9d2');
$avricon-damage-cone: unicode('e9d0');
$avricon-fuel-card: unicode('e9d1');
$avricon-table-view: unicode('e9ce');
$avricon-group-view: unicode('e9cf');
$avricon-cloud: unicode('e9cc');
$avricon-water-drop: unicode('e9cd');
$avricon-stacked-bars-chart: unicode('e9cb');
$avricon-emissions: unicode('e9ca');
$avricon-zoom-out-light: unicode('e9c6');
$avricon-arrow-back-long: unicode('e9c7');
$avricon-zoom-in-light: unicode('e9c8');
$avricon-arrow-down-thin: unicode('e9c1');
$avricon-approved: unicode('e9c2');
$avricon-arrow-up-thin: unicode('e9c3');
$avricon-warning: unicode('e9c4');
$avricon-dollar: unicode('e9c5');
$avricon-file-dollar-search: unicode('e9c0');
$avricon-ready: unicode('e9bf');
$avricon-leased-car: unicode('e9bd');
$avricon-car-block: unicode('e9bc');
$avricon-redo: unicode('e98b');
$avricon-build-up: unicode('e9bb');
$avricon-folder-add: unicode('e9b7');
$avricon-move: unicode('e9b9');
$avricon-control-pause: unicode('e9b5');
$avricon-speaker-volume-high: unicode('e9b8');
$avricon-timer: unicode('e9b4');
$avricon-external-link: unicode('e9b3');
$avricon-subtract-circle: unicode('e9ad');
$avricon-arrow-sync: unicode('e9a9');
$avricon-contract: unicode('e9a8');
$avricon-flash: unicode('e9a7');
$avricon-columns: unicode('e9a6');
$avricon-notifications: unicode('e99c');
$avricon-remove: unicode('e945');
$avricon-costs: unicode('e986');
$avricon-invoice-import: unicode('e98a');
$avricon-add-thin: unicode('e987');
$avricon-task: unicode('e94c');
$avricon-settings: unicode('e984');
$avricon-help: unicode('e985');
$avricon-book-open-page: unicode('e9ae');
$avricon-driver-person: unicode('e983');
$avricon-vehicle-front: unicode('e981');
$avricon-home: unicode('e982');
$avricon-chevron-left: unicode('e914');
$avricon-chevron-right: unicode('e915');
$avricon-chevron-up: unicode('e916');
$avricon-chevron-down: unicode('e917');
$avricon-banking-office-hour: unicode('e980');
$avricon-add: unicode('e960');
$avricon-address-book: unicode('e901');
$avricon-clock: unicode('e9b2');
$avricon-alarm-clock: unicode('e902');
$avricon-clock-fire: unicode('e9af');
$avricon-graduation-hat: unicode('e9b0');
$avricon-alert-circle: unicode('e904');
$avricon-alert-document: unicode('e905');
$avricon-arrow-enter-right: unicode('e907');
$avricon-arrow-left: unicode('e908');
$avricon-arrow-right: unicode('e909');
$avricon-arrow-down: unicode('e906');
$avricon-arrow-up: unicode('e90a');
$avricon-bin: unicode('e90b');
$avricon-bus: unicode('e90c');
$avricon-calendar: unicode('e90d');
$avricon-calendar-blank: unicode('e990');
$avricon-calendar-dollar: unicode('e9aa');
$avricon-camera: unicode('e973');
$avricon-car: unicode('e90e');
$avricon-car-signal: unicode('e96c');
$avricon-card: unicode('e90f');
$avricon-cart: unicode('e961');
$avricon-chat-bubble: unicode('e903');
$avricon-chat-bubble-timeout: unicode('e969');
$avricon-check: unicode('e913');
$avricon-check-circle: unicode('e910');
$avricon-check-multiple: unicode('e911');
$avricon-check-shield: unicode('e912');
$avricon-circle-cash: unicode('e9ab');
$avricon-close-shield: unicode('e919');
$avricon-cloud-progress: unicode('e91a');
$avricon-coffee: unicode('e978');
$avricon-cog: unicode('e91b');
$avricon-company: unicode('e900');
$avricon-cost-center: unicode('e91c');
$avricon-damage: unicode('e91d');
$avricon-devices: unicode('e971');
$avricon-download: unicode('e91e');
$avricon-drag-handle: unicode('e91f');
$avricon-driver: unicode('e920');
$avricon-email-send-2: unicode('e970');
$avricon-envelope: unicode('e921');
$avricon-excavator: unicode('e922');
$avricon-excel: unicode('e923');
$avricon-eye: unicode('e924');
$avricon-file: unicode('e929');
$avricon-file-copy: unicode('e976');
$avricon-file-edit: unicode('e925');
$avricon-file-image: unicode('e962');
$avricon-file-incomplete: unicode('e926');
$avricon-file-pdf: unicode('e927');
$avricon-file-refresh: unicode('e928');
$avricon-file-star: unicode('e96a');
$avricon-financing: unicode('e92a');
$avricon-flag: unicode('e963');
$avricon-flip-horizontally: unicode('e97b');
$avricon-flip-vertically: unicode('e97c');
$avricon-folder: unicode('e92d');
$avricon-folder-lock: unicode('e92b');
$avricon-folder-move: unicode('e92c');
$avricon-forklift: unicode('e92e');
$avricon-fuel: unicode('e92f');
$avricon-gauge: unicode('e964');
$avricon-gift: unicode('e930');
$avricon-hash: unicode('e991');
$avricon-heart: unicode('e979');
$avricon-hide: unicode('e931');
$avricon-hive: unicode('e932');
$avricon-hourglass: unicode('e9b1');
$avricon-hourglass-solid: unicode('e965');
$avricon-inbox: unicode('e933');
$avricon-info: unicode('e966');
$avricon-info-inverted: unicode('e9be');
$avricon-insurance: unicode('e934');
$avricon-invoice: unicode('e935');
$avricon-license: unicode('e96f');
$avricon-list-bullets: unicode('e97a');
$avricon-lock: unicode('e937');
$avricon-lock-open: unicode('e936');
$avricon-login: unicode('e938');
$avricon-logout: unicode('e939');
$avricon-maintenance: unicode('e93a');
$avricon-megaphone: unicode('e93b');
$avricon-mileage: unicode('e93c');
$avricon-motorcycle: unicode('e93d');
$avricon-open-book: unicode('e96d');
$avricon-paperclip: unicode('e967');
$avricon-pause-circle: unicode('e96e');
$avricon-pencil: unicode('e93e');
$avricon-phone: unicode('e93f');
$avricon-phone-off: unicode('e9ba');
$avricon-printer: unicode('e940');
$avricon-question-circle: unicode('e941');
$avricon-question-shield: unicode('e942');
$avricon-refresh: unicode('e943');
$avricon-remove-circle: unicode('e944');
$avricon-rotate-clockwise: unicode('e946');
$avricon-rotate-counter-clockwise: unicode('e947');
$avricon-salesrep: unicode('e958');
$avricon-search: unicode('e948');
$avricon-share-link: unicode('e975');
$avricon-share-time: unicode('e9ac');
$avricon-show-more-vertical: unicode('e949');
$avricon-shrink: unicode('e96b');
$avricon-smartphone: unicode('e977');
$avricon-special: unicode('e94a');
$avricon-string: unicode('e992');
$avricon-sun: unicode('e94b');
$avricon-tractor: unicode('e94d');
$avricon-trailer: unicode('e94e');
$avricon-transfer: unicode('e94f');
$avricon-transporter: unicode('e950');
$avricon-trolley-box: unicode('e951');
$avricon-truck: unicode('e952');
$avricon-unknown: unicode('e953');
$avricon-upload: unicode('e954');
$avricon-user: unicode('e957');
$avricon-user-block: unicode('e955');
$avricon-user-chat: unicode('e968');
$avricon-user-group: unicode('e956');
$avricon-vehicle: unicode('e95a');
$avricon-vehicle-snooze: unicode('e959');
$avricon-vehicles: unicode('e95b');
$avricon-virtual: unicode('e95c');
$avricon-vote-star-circle: unicode('e972');
$avricon-window-list: unicode('e974');
$avricon-wrench: unicode('e95d');
$avricon-zoom-in: unicode('e95e');
$avricon-zoom-out: unicode('e95f');
$avricon-trend-up: unicode('e97d');
$avricon-trend-down: unicode('e97e');
$avricon-user-shield: unicode('e97f');
$avricon-plus-circle: unicode('e988');
$avricon-medical-shield: unicode('e989');
$avricon-alarm-disabled: unicode('e98c');
$avricon-arrow-right-thick: unicode('e98d');
$avricon-arrow-left-end: unicode('e98e');
$avricon-arrow-right-end: unicode('e98f');
$avricon-play-circle: unicode('e993');
$avricon-chart-pie: unicode('e994');
$avricon-power: unicode('e918');
$avricon-arrow-up-circle: unicode('e995');
$avricon-file-arrow-up: unicode('e996');
$avricon-filter: unicode('e997');
$avricon-allianz: unicode('e998');
$avricon-money-note: unicode('e999');
$avricon-globe: unicode('e99a');
$avricon-circle-percent: unicode('e99b');
$avricon-icon-yes-no: unicode('e99d');
$avricon-nature-leaf: unicode('e99e');
$avricon-dollar-circle: unicode('e99f');
$avricon-location-pin: unicode('e9a0');
$avricon-speedometer: unicode('e9a1');
$avricon-weight: unicode('e9a2');
$avricon-at-symbol: unicode('e9a3');
$avricon-credit-card: unicode('e9a4');
$avricon-tags: unicode('e9a5');
$avricon-idea: unicode('e9b6');
$avricon-tilde-circle: unicode('e9c9');