
.avricon-workshop:before {
  content: $avricon-workshop;
}

.avricon-link-item:before {
  content: $avricon-link-item;
}

.avricon-unlink-item:before {
  content: $avricon-unlink-item;
}

.avricon-store:before {
  content: $avricon-store;
}

.avricon-damage-cone:before {
  content: $avricon-damage-cone;
}

.avricon-fuel-card:before {
  content: $avricon-fuel-card;
}

.avricon-table-view:before {
  content: $avricon-table-view;
}

.avricon-group-view:before {
  content: $avricon-group-view;
}

.avricon-cloud:before {
  content: $avricon-cloud;
}

.avricon-water-drop:before {
  content: $avricon-water-drop;
}

.avricon-stacked-bars-chart:before {
  content: $avricon-stacked-bars-chart;
}

.avricon-emissions:before {
  content: $avricon-emissions;
}

.avricon-zoom-out-light:before {
  content: $avricon-zoom-out-light;
}

.avricon-arrow-back-long:before {
  content: $avricon-arrow-back-long;
}

.avricon-zoom-in-light:before {
  content: $avricon-zoom-in-light;
}

.avricon-arrow-down-thin:before {
  content: $avricon-arrow-down-thin;
}

.avricon-approved:before {
  content: $avricon-approved;
}

.avricon-arrow-up-thin:before {
  content: $avricon-arrow-up-thin;
}

.avricon-warning:before {
  content: $avricon-warning;
}

.avricon-dollar:before {
  content: $avricon-dollar;
}

.avricon-file-dollar-search:before {
  content: $avricon-file-dollar-search;
}

.avricon-ready:before {
  content: $avricon-ready;
}

.avricon-leased-car:before {
  content: $avricon-leased-car;
}

.avricon-car-block:before {
  content: $avricon-car-block;
}

.avricon-redo:before {
  content: $avricon-redo;
}

.avricon-build-up:before {
  content: $avricon-build-up;
}

.avricon-folder-add:before {
  content: $avricon-folder-add;
}

.avricon-move:before {
  content: $avricon-move;
}

.avricon-control-pause:before {
  content: $avricon-control-pause;
}

.avricon-speaker-volume-high:before {
  content: $avricon-speaker-volume-high;
}

.avricon-timer:before {
  content: $avricon-timer;
}

.avricon-external-link:before {
  content: $avricon-external-link;
}

.avricon-subtract-circle:before {
  content: $avricon-subtract-circle;
}

.avricon-arrow-sync:before {
  content: $avricon-arrow-sync;
}

.avricon-contract:before {
  content: $avricon-contract;
}

.avricon-flash:before {
  content: $avricon-flash;
}

.avricon-columns:before {
  content: $avricon-columns;
}

.avricon-notifications:before {
  content: $avricon-notifications;
}

.avricon-remove:before {
  content: $avricon-remove;
}

.avricon-costs:before {
  content: $avricon-costs;
}

.avricon-invoice-import:before {
  content: $avricon-invoice-import;
}

.avricon-add-thin:before {
  content: $avricon-add-thin;
}

.avricon-task:before {
  content: $avricon-task;
}

.avricon-settings:before {
  content: $avricon-settings;
}

.avricon-help:before {
  content: $avricon-help;
}

.avricon-book-open-page:before {
  content: $avricon-book-open-page;
}

.avricon-driver-person:before {
  content: $avricon-driver-person;
}

.avricon-vehicle-front:before {
  content: $avricon-vehicle-front;
}

.avricon-home:before {
  content: $avricon-home;
}

.avricon-chevron-left:before {
  content: $avricon-chevron-left;
}

.avricon-chevron-right:before {
  content: $avricon-chevron-right;
}

.avricon-chevron-up:before {
  content: $avricon-chevron-up;
}

.avricon-chevron-down:before {
  content: $avricon-chevron-down;
}

.avricon-banking-office-hour:before {
  content: $avricon-banking-office-hour;
}

.avricon-add:before {
  content: $avricon-add;
}

.avricon-address-book:before {
  content: $avricon-address-book;
}

.avricon-clock:before {
  content: $avricon-clock;
}

.avricon-alarm-clock:before {
  content: $avricon-alarm-clock;
}

.avricon-clock-fire:before {
  content: $avricon-clock-fire;
}

.avricon-graduation-hat:before {
  content: $avricon-graduation-hat;
}

.avricon-alert-circle:before {
  content: $avricon-alert-circle;
}

.avricon-alert-document:before {
  content: $avricon-alert-document;
}

.avricon-arrow-enter-right:before {
  content: $avricon-arrow-enter-right;
}

.avricon-arrow-left:before {
  content: $avricon-arrow-left;
}

.avricon-arrow-right:before {
  content: $avricon-arrow-right;
}

.avricon-arrow-down:before {
  content: $avricon-arrow-down;
}

.avricon-arrow-up:before {
  content: $avricon-arrow-up;
}

.avricon-bin:before {
  content: $avricon-bin;
}

.avricon-bus:before {
  content: $avricon-bus;
}

.avricon-calendar:before {
  content: $avricon-calendar;
}

.avricon-calendar-blank:before {
  content: $avricon-calendar-blank;
}

.avricon-calendar-dollar:before {
  content: $avricon-calendar-dollar;
}

.avricon-camera:before {
  content: $avricon-camera;
}

.avricon-car:before {
  content: $avricon-car;
}

.avricon-car-signal:before {
  content: $avricon-car-signal;
}

.avricon-card:before {
  content: $avricon-card;
}

.avricon-cart:before {
  content: $avricon-cart;
}

.avricon-chat-bubble:before {
  content: $avricon-chat-bubble;
}

.avricon-chat-bubble-timeout:before {
  content: $avricon-chat-bubble-timeout;
}

.avricon-check:before {
  content: $avricon-check;
}

.avricon-check-circle:before {
  content: $avricon-check-circle;
}

.avricon-check-multiple:before {
  content: $avricon-check-multiple;
}

.avricon-check-shield:before {
  content: $avricon-check-shield;
}

.avricon-circle-cash:before {
  content: $avricon-circle-cash;
}

.avricon-close-shield:before {
  content: $avricon-close-shield;
}

.avricon-cloud-progress:before {
  content: $avricon-cloud-progress;
}

.avricon-coffee:before {
  content: $avricon-coffee;
}

.avricon-cog:before {
  content: $avricon-cog;
}

.avricon-company:before {
  content: $avricon-company;
}

.avricon-cost-center:before {
  content: $avricon-cost-center;
}

.avricon-damage:before {
  content: $avricon-damage;
}

.avricon-devices:before {
  content: $avricon-devices;
}

.avricon-download:before {
  content: $avricon-download;
}

.avricon-drag-handle:before {
  content: $avricon-drag-handle;
}

.avricon-driver:before {
  content: $avricon-driver;
}

.avricon-email-send-2:before {
  content: $avricon-email-send-2;
}

.avricon-envelope:before {
  content: $avricon-envelope;
}

.avricon-excavator:before {
  content: $avricon-excavator;
}

.avricon-excel:before {
  content: $avricon-excel;
}

.avricon-eye:before {
  content: $avricon-eye;
}

.avricon-file:before {
  content: $avricon-file;
}

.avricon-file-copy:before {
  content: $avricon-file-copy;
}

.avricon-file-edit:before {
  content: $avricon-file-edit;
}

.avricon-file-image:before {
  content: $avricon-file-image;
}

.avricon-file-incomplete:before {
  content: $avricon-file-incomplete;
}

.avricon-file-pdf:before {
  content: $avricon-file-pdf;
}

.avricon-file-refresh:before {
  content: $avricon-file-refresh;
}

.avricon-file-star:before {
  content: $avricon-file-star;
}

.avricon-financing:before {
  content: $avricon-financing;
}

.avricon-flag:before {
  content: $avricon-flag;
}

.avricon-flip-horizontally:before {
  content: $avricon-flip-horizontally;
}

.avricon-flip-vertically:before {
  content: $avricon-flip-vertically;
}

.avricon-folder:before {
  content: $avricon-folder;
}

.avricon-folder-lock:before {
  content: $avricon-folder-lock;
}

.avricon-folder-move:before {
  content: $avricon-folder-move;
}

.avricon-forklift:before {
  content: $avricon-forklift;
}

.avricon-fuel:before {
  content: $avricon-fuel;
}

.avricon-gauge:before {
  content: $avricon-gauge;
}

.avricon-gift:before {
  content: $avricon-gift;
}

.avricon-hash:before {
  content: $avricon-hash;
}

.avricon-heart:before {
  content: $avricon-heart;
}

.avricon-hide:before {
  content: $avricon-hide;
}

.avricon-hive:before {
  content: $avricon-hive;
}

.avricon-hourglass:before {
  content: $avricon-hourglass;
}

.avricon-hourglass-solid:before {
  content: $avricon-hourglass-solid;
}

.avricon-inbox:before {
  content: $avricon-inbox;
}

.avricon-info:before {
  content: $avricon-info;
}

.avricon-info-inverted:before {
  content: $avricon-info-inverted;
}

.avricon-insurance:before {
  content: $avricon-insurance;
}

.avricon-invoice:before {
  content: $avricon-invoice;
}

.avricon-license:before {
  content: $avricon-license;
}

.avricon-list-bullets:before {
  content: $avricon-list-bullets;
}

.avricon-lock:before {
  content: $avricon-lock;
}

.avricon-lock-open:before {
  content: $avricon-lock-open;
}

.avricon-login:before {
  content: $avricon-login;
}

.avricon-logout:before {
  content: $avricon-logout;
}

.avricon-maintenance:before {
  content: $avricon-maintenance;
}

.avricon-megaphone:before {
  content: $avricon-megaphone;
}

.avricon-mileage:before {
  content: $avricon-mileage;
}

.avricon-motorcycle:before {
  content: $avricon-motorcycle;
}

.avricon-open-book:before {
  content: $avricon-open-book;
}

.avricon-paperclip:before {
  content: $avricon-paperclip;
}

.avricon-pause-circle:before {
  content: $avricon-pause-circle;
}

.avricon-pencil:before {
  content: $avricon-pencil;
}

.avricon-phone:before {
  content: $avricon-phone;
}

.avricon-phone-off:before {
  content: $avricon-phone-off;
}

.avricon-printer:before {
  content: $avricon-printer;
}

.avricon-question-circle:before {
  content: $avricon-question-circle;
}

.avricon-question-shield:before {
  content: $avricon-question-shield;
}

.avricon-refresh:before {
  content: $avricon-refresh;
}

.avricon-remove-circle:before {
  content: $avricon-remove-circle;
}

.avricon-rotate-clockwise:before {
  content: $avricon-rotate-clockwise;
}

.avricon-rotate-counter-clockwise:before {
  content: $avricon-rotate-counter-clockwise;
}

.avricon-salesrep:before {
  content: $avricon-salesrep;
}

.avricon-search:before {
  content: $avricon-search;
}

.avricon-share-link:before {
  content: $avricon-share-link;
}

.avricon-share-time:before {
  content: $avricon-share-time;
}

.avricon-show-more-vertical:before {
  content: $avricon-show-more-vertical;
}

.avricon-shrink:before {
  content: $avricon-shrink;
}

.avricon-smartphone:before {
  content: $avricon-smartphone;
}

.avricon-special:before {
  content: $avricon-special;
}

.avricon-string:before {
  content: $avricon-string;
}

.avricon-sun:before {
  content: $avricon-sun;
}

.avricon-tractor:before {
  content: $avricon-tractor;
}

.avricon-trailer:before {
  content: $avricon-trailer;
}

.avricon-transfer:before {
  content: $avricon-transfer;
}

.avricon-transporter:before {
  content: $avricon-transporter;
}

.avricon-trolley-box:before {
  content: $avricon-trolley-box;
}

.avricon-truck:before {
  content: $avricon-truck;
}

.avricon-unknown:before {
  content: $avricon-unknown;
}

.avricon-upload:before {
  content: $avricon-upload;
}

.avricon-user:before {
  content: $avricon-user;
}

.avricon-user-block:before {
  content: $avricon-user-block;
}

.avricon-user-chat:before {
  content: $avricon-user-chat;
}

.avricon-user-group:before {
  content: $avricon-user-group;
}

.avricon-vehicle:before {
  content: $avricon-vehicle;
}

.avricon-vehicle-snooze:before {
  content: $avricon-vehicle-snooze;
}

.avricon-vehicles:before {
  content: $avricon-vehicles;
}

.avricon-virtual:before {
  content: $avricon-virtual;
}

.avricon-vote-star-circle:before {
  content: $avricon-vote-star-circle;
}

.avricon-window-list:before {
  content: $avricon-window-list;
}

.avricon-wrench:before {
  content: $avricon-wrench;
}

.avricon-zoom-in:before {
  content: $avricon-zoom-in;
}

.avricon-zoom-out:before {
  content: $avricon-zoom-out;
}

.avricon-trend-up:before {
  content: $avricon-trend-up;
}

.avricon-trend-down:before {
  content: $avricon-trend-down;
}

.avricon-user-shield:before {
  content: $avricon-user-shield;
}

.avricon-plus-circle:before {
  content: $avricon-plus-circle;
}

.avricon-medical-shield:before {
  content: $avricon-medical-shield;
}

.avricon-alarm-disabled:before {
  content: $avricon-alarm-disabled;
}

.avricon-arrow-right-thick:before {
  content: $avricon-arrow-right-thick;
}

.avricon-arrow-left-end:before {
  content: $avricon-arrow-left-end;
}

.avricon-arrow-right-end:before {
  content: $avricon-arrow-right-end;
}

.avricon-play-circle:before {
  content: $avricon-play-circle;
}

.avricon-chart-pie:before {
  content: $avricon-chart-pie;
}

.avricon-power:before {
  content: $avricon-power;
}

.avricon-arrow-up-circle:before {
  content: $avricon-arrow-up-circle;
}

.avricon-file-arrow-up:before {
  content: $avricon-file-arrow-up;
}

.avricon-filter:before {
  content: $avricon-filter;
}

.avricon-allianz:before {
  content: $avricon-allianz;
}

.avricon-money-note:before {
  content: $avricon-money-note;
}

.avricon-globe:before {
  content: $avricon-globe;
}

.avricon-circle-percent:before {
  content: $avricon-circle-percent;
}

.avricon-icon-yes-no:before {
  content: $avricon-icon-yes-no;
}

.avricon-nature-leaf:before {
  content: $avricon-nature-leaf;
}

.avricon-dollar-circle:before {
  content: $avricon-dollar-circle;
}

.avricon-location-pin:before {
  content: $avricon-location-pin;
}

.avricon-speedometer:before {
  content: $avricon-speedometer;
}

.avricon-weight:before {
  content: $avricon-weight;
}

.avricon-at-symbol:before {
  content: $avricon-at-symbol;
}

.avricon-credit-card:before {
  content: $avricon-credit-card;
}

.avricon-tags:before {
  content: $avricon-tags;
}

.avricon-idea:before {
  content: $avricon-idea;
}

.avricon-tilde-circle:before {
  content: $avricon-tilde-circle;
}