$avr-left-nav-width: 200px;
$avr-logo-height: 22px;

body {
  background: $avr-color-gray-20;
}

.layout-header {
  background: $avr-color-blue-50;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: $avr-navbar-height;
  z-index: $z-index-navigation;
  border-bottom: 1px solid $avr-color-black-alpha-05;

  .logo {
    height: $avr-navbar-height;
    width: $avr-left-nav-width;
    padding: (($avr-navbar-height - $avr-logo-height) / 2) $avr-space-m;
  }
}

.production-admin-login .layout-header {
  // this var is mostly used for text, but this is a deliberate exception
  background: $avr-color-red-75;
}

.layout-nav {
  width: $avr-left-nav-width;
  position: fixed;
  top: $avr-navbar-height;
  left: 0;
  bottom: 0;
  overflow: hidden;

  @include desktop {
    padding-top: $avr-space-m;
  }
}

section {
  margin-bottom: $avr-space-base * 6;

  &.section-border {
    padding-bottom: $avr-space-base * 6;
    border-bottom: 1px solid $avr-color-gray-30;
  }
}

.section-content {
  margin-top: $avr-space-base * 4;
}

.section-dark,
.section-darker {
  background-color: $avr-color-gray-20;
  margin-left: -$avr-space-m;
  margin-right: -$avr-space-m;
  padding-left: $avr-space-m;
  padding-right: $avr-space-m;
}

.section-darker {
  background-color: $avr-color-gray-30;
}

.row .section-dark {
  background-color: transparent;
}

// Mobile layout
@include mobile-only {
  body {
    background: $avr-color-white;
  }

  .layout-nav {
    width: 0;
    position: static;
  }

  .layout-header {
    // making sure the fixed header stays 100% viewport width on iOS even if the table breaks the layout
    max-width: 100vw;

    .logo {
      margin-left: 45px;
      text-align: left;

      img {
        margin-left: $avr-space-m;
      }
    }
  }
}

.initially-hidden {
  animation: fade-in 0.3s ease-out;
}

.init-error {
  padding: 50px 30px 15px 30px;

  .layout-header .logo {
    width: auto;

    img {
      margin: 0;
    }
  }
}

/**
 * Exists only to get IE11 to respect the min-height of the inner wrapper
 */
.flexible-height-outer-wrapper {
  display: flex;
  flex-direction: column;
}

/**
 * This gives us a page where the main body can stretch out with the content, but
 * the footer will always stay pinned to the bottom. The footer itself will also never
 * come higher than the bottom of the screen, and can be of flexible height
 */
.flexible-height-inner-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.flexible-height-content {
  flex: 1 0 auto;
  width: 100%;
}
